/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

h1 {
  top: 0%;
}
/* Body */
body {
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Main Content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  background-position: 100%;
  color: #333;
}

/* Department Section */
section {
  height: 180px;
  width: 190px;
  margin: 10px;
  background-color: #020024;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

section img {
  max-height: 80px;
  border-radius: 10px;
}

/* Department Content */
.departamento-foto,
.departamento-cargo {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

.departamento-cargo {
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  section {
    width: 200px;
    height: 200px;
  }
}
